<!DOCTYPE html>
<html lang="pt" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/default'">
	
<head>
</head>
<body>

<section layout:fragment="conteudo">
	
	<section class="content-header">
		<h1>
			Ativos <small>Envio de ativos</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i></a></li>
		</ol>
	</section>

	<section class="content">
		
		<div class="row">
	
			
		
		</div>
		
	</section>
</section>
	
	<th:block layout:fragment="javascript-extra">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
	</th:block>
</body>
</html>